<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", media: "all" %>
  <title>Memomo</title>
  <%= csrf_meta_tags %>
</head>

<body>

<%= yield %>


  <footer class="navbar navbar-default navbar-fixed-bottom" role="contentinfo">
    <div class="container">
      <p class="navbar-text">Copyright &copy; 2015 <a href="https://github.com/pocke">pocke</a>. Licensed <a href="http://www.opensource.org/licenses/mit-license.php" target="_blank">MIT</a></p>
    </div>
  </footer>


  <%= javascript_include_tag "application" %>
</body>
</html>
